.imgContainer {
  display: flex;
  gap: 6px;
  flex-direction: column;
}
.img {
  max-width: 150px;
}

.goBackBtn {
  border: 1px solid grey;
  border-radius: 3px;
  width: 120px;
  height: 30px;
  background-color: aliceblue;
  padding: 0;
}
.container {
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.filmDescribe {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}
.item {
  text-decoration: none;
}
