.imgContainer {
  display: flex;
  gap: 6px;
  flex-direction: column;
}
.img {
  max-width: 300px;
}

.container {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
}
.filmDescribe {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}
li {
  list-style: none;
}
.additionalInfoItem {
  list-style: circle;
}
