.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
}
.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
  border-radius: 10%;
}
.homeImg {
  width: 200px;
  border-radius: 50%;
}
.name {
  max-width: 200px;
  width: 100%;
  text-align: center;
}
