.goBackBtn {
  display: flex;
  padding: 3px 4px;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  background-color: rgb(22, 17, 153);
  color: rgb(255, 255, 255);
}
.svg {
  font-size: 20px;
  margin-top: 3px;
}
.text {
  padding-left: 20px;
  padding-top: 3px;
}
